<%- include("partials/header"); -%>

<table class="table table-hover table-start">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="th-td-style">ID</th>
      <th scope="col" class="th-td-style">Gender</th>
      <th scope="col" class="th-td-style">Age</th>
      <th scope="col" class="th-td-style">Smoke</th>
      <th scope="col" class="th-td-style">Betel</th>
      <th scope="col" class="th-td-style">Alcohol</th>
      <th scope="col" class="th-td-style">Bad breath</th>
      <th scope="col" class="th-td-style">Sudden bleeding</th>
      <th scope="col" class="th-td-style">Read or white patches</th>
      <th scope="col" class="th-td-style">Neck lump</th>
      <th scope="col" class="th-td-style">Pain</th>
      <th scope="col" class="th-td-style">Numbness</th>
      <th scope="col" class="th-td-style">Burning sensation</th>
      <th scope="col" class="th-td-style">Painless Ulceration</th>
      <th scope="col" class="th-td-style">Swallowing difficulty</th>
      <th scope="col" class="th-td-style">Loss appetite</th>
      <th scope="col" class="th-td-style">Probability</th>
      <th scope="col" class="th-td-style"></th>
    </tr>
  </thead>


  <% console.log("User Object:", user); %>
  <tbody>
    <% if (user && user.predictions) { %>
    <% for (let i = 0; i < user.predictions.length; i++) { %>
      <tr>
        <th scope="row" class="th-td-style"><%= i + 1 %></th>
        <td class="th-td-style"><%= user.predictions[i].gender %></td>
        <td class="th-td-style"><%= user.predictions[i].age %></td>
        <td class="th-td-style"><%= user.predictions[i].smoking %></td>
        <td class="th-td-style"><%= user.predictions[i].betel %></td>
        <td class="th-td-style"><%= user.predictions[i].alcohol %></td>
        <td class="th-td-style"><%= user.predictions[i].bad_breath %></td>
        <td class="th-td-style"><%= user.predictions[i].sudden_bleeding %></td>
        <td class="th-td-style"><%= user.predictions[i].read_white_patch %></td>
        <td class="th-td-style"><%= user.predictions[i].neck_lump %></td>
        <td class="th-td-style"><%= user.predictions[i].pain %></td>
        <td class="th-td-style"><%= user.predictions[i].numbness %></td>
        <td class="th-td-style"><%= user.predictions[i].burning_sessation %></td>
        <td class="th-td-style"><%= user.predictions[i].painless_ulceration %></td>
        <td class="th-td-style"><%= user.predictions[i].sawallowing_difficulty %></td>
        <td class="th-td-style"><%= user.predictions[i].loss_appetite %></td>
        <td class="th-td-style"><%= user.predictions[i].predictionResult %></td>

        <td class="th-td-style">
          <form action="/delete-prediction/<%= user.predictions[i]._id %>" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>

      </tr>
    <% } %>
    <% } else { %>
      <tr>
        <td colspan="17">No predictions available</td>
      </tr>
    <% } %>
  </tbody>
</table>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-3 border-top fixed-bottom">
  <span>&copy;Oral Cancer Predictor. All Rights Reserved</span>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
